.navbar-brand {
  color: #73020d;
}

#float-right {
  float: right;
  margin: 0px;
}

.mynav {
  padding: 8px 16px;
}
.add-padding {
  padding-top: 5px;
  padding-bottom: 5px;
}

.points {
  color: gray;
}

span > p {
  display: inline;
}

.className {
  float: left; 
}
