.text {
  background-color: #00BFFF;
  text-decoration: none;
  text-align: left;
  padding: 7px;
  border-radius: 8px;
}

li {
  display: table;
  margin: auto;

}
.avatar {
  height: 35px;
  width: 35px;
  background-color: red;
  border-radius: 50%;
  margin: 0 10px -10px;
}
.username {
  display: block;
  color: gray;
  font-size: 14px;
  padding-bottom: 4px;
}
.message {
  margin-left: 5px;
}
